---
import { title } from "../const";
import SunMoon from "./SunMoon.astro";
---

<div class="navbar w-full">
  <div class="navbar-start">
    <SunMoon />
  </div>
  <div class="navbar-center text-xl font-bold">{title}</div>
  <div class="navbar-end"></div>
</div>
